* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef2;
    height: 100vh;
    width: 100%;
    color: #4a4545;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 1px solid;
    border-color: #b190d1;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 2rem;
}

nav li a {
    text-decoration: none;
    color: #4a4545;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10%;
    line-height: 1.2em;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
 }

.hero .image {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px; 
    max-height: 300px;
    overflow: hidden;
}

.hero .image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


button {
    background-color: #b190d1;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    border-style: none;
}

button a {
    text-decoration: none;
    color: #fff;
}

footer {
    box-sizing: border-box;
    background-color: #404248;
    padding: 2rem;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}